* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(51, 84, 196);
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    margin-bottom: 24px;
}

header h1 {
    font-style: italic;
}

header a {
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container form {
    display: block;
}

body {
    background-color: rgb(235, 241, 245);
}

.sobre {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.sobre img {
    margin-right: 24px;
}

h2 {
    color: rgb(51, 84, 196);
    font-style: italic;
    border-bottom: 2px solid;
    padding: 8px;
    margin-bottom: 32px;
}

.produtos {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 48px;
}

.produtos article {
    margin-top: 8px;
}

.prod {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.prod img {
    max-width: 100%;
}

.prod h3 {
    margin: 12px 0;
}

.prod button {
    background-color: rgb(51, 84, 196);
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
}

.prod button:hover {
    background-color: #071e5c;
}

.prod h3,
p {
    min-height: 72px;
}

@media screen and (min-width: 941px) and (max-width: 1180px) {
    .container {
        max-width: 90%;
    }

    .sobre {
        padding: 12px;
    }

    .prod {
        grid-template-columns: repeat(3, 30%);
        padding: 12px;
    }
}

@media screen and (min-width: 651px) and (max-width: 940px) {
    .container {
        max-width: 90%;
    }

    .prod {
        grid-template-columns: repeat(2, 48%);        
        padding: 12px;
    }

    .sobre {
        padding: 12px;
    }

    .sobre img {
        max-height: 300px;
    }
}

@media screen and (max-width: 650px) {

    .sobre {
        display: block;        
        padding: 12px;
    }

    .sobre img {
        max-height: 300px;
    }

    .prod {
        display: inline;     
    }

    .prod img, p, h3{
        padding: 12px;
    }

    .prod button {
        max-width: 97%;
        margin-left: 6px;
    }
}